*{
    margin: 0%;
    scroll-behavior: smooth;
    font-family: 'PT Serif', serif;
}

header{
    background:linear-gradient(rgba(0, 0, 0, 0.829), rgba(155, 182, 211, 0.631)), url(./hello-lightbulb-YC8qqp50BdA-unsplash.jpg);
    width: auto;
    height: 100vh;
    background-position: 30% 53%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: inline-block;
}

.left-nav,.center-nav,.right-nav{
    display: inline-block;
  
}
.center-nav{
    width: 80vw;
    position: absolute;
    top:20%;
    left: 10%;
    text-align: center;
    

    
}

.right-nav{
    display: flex;
    position: absolute;
    top:3vh;
    right: 3vh;
    align-items: center;

}

.right-nav a{
    padding-right: .4vw;
}
.left-nav{
    position: absolute;
    font-size: 2rem;
    font-family: 'PT Serif', serif;
    top: 3vh;
    left: 3vh;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgba(167, 86, 19, 0.863);
    opacity: 0.8;
}

.center-nav ul{
    display: inline-block;
    list-style-type: none;
    
    
}

a{
    text-decoration: none;
    color: rgb(248, 244, 244);
    font-weight: bold;
    font-size: 1.2em;
    text-shadow: 1px 1px rgba(167, 86, 19, 0.863);
    
}

.border{
    width: 40vw;
    border: 1px solid rgba(255, 255, 255, 0.616);
    position: absolute;
    top:25%;
    left: 30vw;
    box-shadow: -10px 10px 6px rgba(3, 3, 3, 0.26);
    
}  

.booking{
    display: flex;
    width: 160px;
    height: 5vh;
    background-color: rgba(255, 255, 255, 0.445);
    border-radius: 30px;
    padding: .5% .5% .5% 1.5%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    box-shadow: -8px 15px 15px rgba(0, 0, 0, 0.432);
}
.booking-text{
    color: rgb(255, 255, 255);
    padding-left: .2vw;
    font-size: 1.6rem;
}

.booking-text:hover{
    color: rgba(58, 120, 214, 0.768);
    transition: 1s;
}

.search:hover~.line{
    display: block;
    color: white;
    background-color:rgba(255, 255, 255, 0.397);
    width: 89px;
    height: 4px;
    transition: width 2s;
    
}

.last:hover~.line2{
    display: block;
    color: white;
    background-image: linear-gradient(90deg,white, blue,white, blue);
    width: 100px;
    height: 2px;
    transition: width 2s;

}

.left-nav:hover{
    color: rgb(11, 242, 219);
    opacity: .5;
    transition:1s;
    font-size: 35px;
}
ul a:hover{
    color: rgb(85, 189, 213);
    transition: 1s;
    font-size: large;
}

.last2{
    position: relative;
}

.line{
position:absolute;
width: 1px;
height: 2px;
top:2.85vh;
transition: width 2s;
}

.line2{
    position:absolute;
    width: 0px;
    height: 2px;
    top:100%;
    right:0%;
    transition: width 2s;
    }

a:visited{
    color: rgb(246, 246, 248);
}


ul a:active{
    color: red;
    font-size: 1.3rem;
}


/* main */

body {
	margin: 0px;
}

#circle-container {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: lightblue;
	width: 100vw;
	height: 100vh;
	position:relative;
}

.circle {
	width: 50vh;
	height: 50vh;
	position: absolute;
	border-radius: 50%;
}

#one:before {
	content: "Hey there!";
}

#one {
	background-color: rgba(0,0,225, 0.45);
	font-size: 40px;
	font-family: "Oswald", sans-serif;
	letter-spacing: 1.5px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
	transition: 1s;
}

#two {
	background-color: green;
	transition: 1s;
	opacity: 0.5;
}

#three {
	background-color: red;
	transition: 1s;
	opacity: 0.5;
}

#four {
	background-color: orange;
	transition: 1s;
	opacity: 0.5;
}
#five {
	background-color: green;
	transition: 1s;
	opacity: 0.5;
}

#cc {
	position:relative;
	width: 50vh;
	height: 50vh;
	border-radius: 50%;
	overflow: hidden;
}

#cc:hover #two {
	transform: translate(0px, 75px);
}
#cc:hover #three {
	transform: translate(0px, -75px);
}
#cc:hover #four {
	transform: translate(75px, 0px);
}
#cc:hover #five {
	transform: translate(-75px, 0px);
}
